<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include heads/css.head.ejs %>
</head>
<body data-spy="scroll">

<% include homeComponents/header.ejs %>

<% include homeComponents/work.ejs %>

<<<<<<< HEAD
<div data-spy="scroll">
<header id="header" class="header scroll-header">
    <a href="#" id="jack-header"></a>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="#"><img src="/images/logo@3x.png" class="logo" style="padding-top: 10px"></a>
                    <!--logo-img-->
                </div>
                <div class="container" id="jack-space">
                    <div class="col-md-8 push-7">
                        <div class="navbar navbar-toggleable-md navbar-toggler" style="color: white; padding-top: 30px">
                            <ul class="navbar-nav">
                                <li class="nav-item nav-link">
                                    <a class="nav-item text-03" id="home-tag"
                                       onclick="selectNavButton('home-tag','jack-header')">Home</a>
                                </li>
                                <li class="nav-item nav-link">
                                    <a class="nav-item text-03" id="works-tag"
                                       onclick="selectNavButton('works-tag','jack-works')">Works</a>
                                </li>
                                <li class="nav-item nav-link">
                                    <a class="nav-item text-03" id="about-tag"
                                       onclick="selectNavButton('about-tag','jack-about')">About</a>
                                </li>
                                <li class="nav-item nav-link">
                                    <a class="nav-item text-03" id="skills-tag"
                                       onclick="selectNavButton('skills-tag','jack-skills')">Skills</a>
                                </li>
                                <li class="nav-item nav-link">
                                    <a class="nav-item text-03" id="contact-tag"
                                       onclick="selectNavButton('contact-tag','jack-footer')">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="slogan" align="center">
    <div class="container">
        <div class="slogan"><b>I<span style="color: #F8E71C">'</span>
                m Jack Huang<span style="color: #F8E71C">.</span></b></div>

        <div><!--<span class="line-01"><hr style="border: none"> </span>-->
            <div class="slogan2">UI/UX Designer, Website Developer</div>
        </div>
    </div>
    <i class="u-arrow u-arrow-down" style="margin-top: 10rem">
    </i>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>


<!--works-->
<div id="jack-works">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6">
                <h1 class="title">Works</h1>
            </div>
            <div class="col-md-4 col-sm-6">
                <div id="jack-space" class="navbar navbar-toggleable-md navbar-toggler jack-menu">
                    <a href="/website" class="right item active" id="website-tag"
                       onclick="selectMenuButton('website-tag')">
                        Website</a>
                    <a href="/app" class="right item" id="app-tag" onclick="selectMenuButton('app-tag')">
                        App</a>
                    <a class="right item" id="graphic-tag" onclick="selectMenuButton('graphic-tag')">
                        Graphic</a>
                    <a class="right item" id="photography-tag" onclick="selectMenuButton('photography-tag')">
                        Photography</a>
                    <a class="right item" id="arts-tag" onclick="selectMenuButton('arts-tag')">
                        Arts</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row no-gutters" style="padding-top: 30px">

                <% if(workStatus === 'app'){ %>
                <% for (let i = 1; i < 7; i++){ %>

                <div class="col-md-4">
                    <% let path = '/images/app-img0' + i + '.jpg'; %>
                    <img src="<%= path %>" class="img-fluid" >
                </div>

                <% } %>
                <% } %>

                <% if(workStatus === 'website'){ %>
                <% for (let i = 1; i < 7; i++){ %>

    <div class="col-md-4">
        <div style="margin-top: 10px; margin-left: 10px">
        <% let path = '/images/pic0' + i + '.jpg'; %>
        <img src="<%= path %>" class="img-fluid">
        </div>
    </div>


                <% } %>
                <% } %>

                <% if(workStatus === 'graphic'){ %>
                <% for (let i = 1; i < 7; i++){ %>

                <div class="col-md-4">
                    <% let path = '/images/pic0' + i + '.jpg'; %>
                    <img src="<%= path %>" class="img-fluid">
                </div>

                <% } %>
                <% } %>

            </div>
        </div>

        <!--works img-->
        <!--<div class="padding-top-40">-->
        <!--<div class="masthead-followup row m-0 border border-white row">-->
        <!--<div class="row">-->
        <!--<div class="ui longer modal" id="img-detail-holder">-->
        <!--<div class="header">CAKNOW App</div>-->
        <!--<div class="image content">-->
        <!--<img class="image" id="img-detail" src="/images/long-img.jpg">-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; <div class="ui three column centered grid">-->
        <!--<div class="column works-img">-->
        <!--<img src="/images/pic03.jpg">-->
        <!--</div>-->
        <!--<div class="column works-img">-->
        <!--<img src="/images/pic03.jpg">-->
        <!--</div>-->
        <!--<div class="column works-img">-->
        <!--<img src="/images/pic03.jpg">-->
        <!--</div>-->
        <!--</div>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="container-fluid ">-->
        <!--<div class="row col-12 col-md-4 p-3 p-md-5 bg-light border border-white">-->
        <!--<div class="column work-img-holder img-hover"><img id="work-img-1" src="/images/pic01.jpg"-->
        <!--onclick="selectWorkImage('work-img-1')"/>-->
        <!--</div>-->
        <!--<div class="column work-img-holder img-hover"><img id="work-img-2" src="/images/pic02.jpg"/>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="row col-12 col-md-4 p-3 p-md-5 bg-light border border-white">-->
        <!--<div class="column work-img-holder"><img id="work-img-3" src="/images/pic03.jpg"/></div>-->
        <!--<div class="column work-img-holder"><img id="work-img-4" src="/images/pic04.jpg"/></div>-->
        <!--</div>-->

        <!--<div class="row col-12 col-md-4 p-3 p-md-5 bg-light border border-white">-->
        <!--<div class="column work-img-holder"><img id="work-img-5" src="/images/pic05.jpg"/></div>-->
        <!--<div class="column work-img-holder"><img id="work-img-6" src="/images/pic06.jpg"/></div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>
<!--<div id="jack-works">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<h1 class="title pull-left">Works</h1>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-4 push-md-8">-->
<!--<a class="pull-right" id="website-tag" onclick="selectMenuButton('website-tag')">-->
<!--Website</a>-->
<!--<a class="pull-right" id="app-tag" onclick="selectMenuButton('app-tag')">-->
<!--App</a>-->
<!--<a class="pull-right" id="graphic-tag" onclick="selectMenuButton('graphic-tag')">-->
<!--Graphic</a>-->
<!--<a class="pull-right" id="photography-tag" onclick="selectMenuButton('photography-tag')">-->
<!--Photography</a>-->
<!--<a class="pull-right" id="arts-tag" onclick="selectMenuButton('arts-tag')">-->
<!--Arts</a>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="col-md-4">-->
<!--<div class="work-img-holder">-->
<!--&lt;!&ndash;<img src="/images/pic01.jpg"/>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<div class="work-img-holder">-->
<!--&lt;!&ndash;<img src="/images/pic02.jpg"/>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<div class="work-img-holder">-->
<!--&lt;!&ndash;<img src="/images/pic03.jpg"/>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-4">-->
<!--<div class="work-img-holder">-->
<!--&lt;!&ndash;<img src="/images/pic04.jpg"/>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<div class="work-img-holder">-->
<!--&lt;!&ndash;<img src="/images/pic05.jpg"/>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<div class="work-img-holder">-->
<!--&lt;!&ndash;<img src="/images/pic06.jpg"/>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--about-->
<div id="jack-about">
    <div class="container">
        <h1 class="title padding-top-100 text-center">About</h1>
    </div>
    <img id="about-img" src="/images/bg-about@2x.jpg"/>
    <div role="article">
        <div class="col-xl-8 push-xl-2 col-lg-8 push-lg-2 col-md-8 push-md-2 col-sm-10 push-sm-1">
            <p class="text-center subtitle-about"><b>I make technology not suck to use</b></p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-10 push-xl-1 col-lg-10 push-lg-1 col-md-10 push-md-1 col-sm-10 push-sm-1">
                    <br/>
                    <p class="text-01 text-center"> I am a senior UI/UX and product designer with over 7 year
                        experience, and I think design is commonly misunderstood as being purely visual. I
                        believe that design is not only how something looks, but how something works. So in the case of
                        UI/UX design, I mean that I design how people interact with technology, and how technology
                        responds.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="slogan2" align="center" style="padding-top: 40px">
        <a href="/asset/Jack_resume.pdf" download="Jack_resume">
            <button class="download-butt">
                Download Resume
            </button>
        </a>
    </div>
</div>

<!--skills-->
<div id="jack-skills">
    <h1 class="title padding-top-140 text-center">Skills</h1>
    <div role="banner" style="margin-bottom: 180px;margin-top: 80px">
        <img id="skill-img" src="/images/skill_bg.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-4 col-sm-2 push-lg-3 push-md-1 push-sm-1">
                <div class="jk-skill">
                    <div class="jk-skill-col" style="margin-bottom: 30px">
                        <p>
                        <ul>
                            <li class="text-02">Sketch</li>
                            <br>
                            <li class="text-02">Adobe Xd</li>
                            <br>
                            <li class="text-02">Adobe Photoshop</li>
                            <br>
                            <li class="text-02">Adobe illustrator</li>
                            <br>
                            <li class="text-02">Adobe After Effect</li>
                            <br>
                            <li class="text-02">InVision</li>
                        </ul>
                        </p>
                    </div>

                    <div class="jk-skill-col">
                        <p>
                        <ul>
                            <li class="text-02">Principle</li>
                            <br>
                            <li class="text-02">Zeplin</li>
                            <br>
                            <li class="text-02">HTML/CSS</li>
                            <br>
                            <li class="text-02">Bootstrap</li>
                            <br>
                            <li class="text-02">Swift</li>
                            <br>
                            <li class="text-02">Slack</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<!--footer-->
<footer id="jack-footer">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <div class="col-12 push-2">
                    <div class="footer-img-holder">
                        <img src="/images/ruler@3x.png" id="footer-img">
                    </div>
                </div>
                <h1 class="title-01" style="padding-top: 30px">Contact</h1>
                <div class="container">
                    <div class="row">
                        <div style="padding-top: 20px">
                            <a href="https://www.linkedin.com/in/jack-huang-136a6097/" target="view_window">
                                <img class="icons" src="/images/linkedin@2x.png"></a>
                            <a href="https://www.behance.net/jackhuang" target="view_window">
                                <img class="icons" src="/images/behance@2x.png" style="margin-left: 16px"></a>
                            <a href="https://dribbble.com/Bestcat" target="view_window">
                                <img class="icons" src="/images/dribbble@2x.png" style="margin-left: 16px"></a>
                            <a href="https://www.facebook.com/profile.php?id=100009443163683" target="view_window">
                                <img class="icons" src="/images/facebook@2x.png" style="margin-left: 16px"></a>
                        </div>
                    </div>
                </div>


                <div class="text-03" style="margin-top: 24px; margin-bottom: 10px">
                            <span>Email: <a href="mailto:laotuhao@gmail.com">
                                    <u class="text-03" style="cursor: pointer">
                                        laotuhao@gmail.com
                                    </u></a></span>
                    <span style="margin-left: 20px"> <a style="color: white" href="tel://(310)504-7390">Mobile: +1(310)504-7390</a></span>
                    <span style="margin-left: 20px"><a data-toggle="modal" data-target="#wechat-modal"
                                                       style="cursor: pointer">Wechat: tz103004176</a></span>

                    <% include modal/wechat-modal.ejs %>
=======
<% include homeComponents/about.ejs %>
>>>>>>> CHRIS.Y

<% include homeComponents/skill.ejs %>

<% include homeComponents/footer.ejs %>

<% include heads/js.head.ejs %>

</body>
</html>
