<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include heads/css.head.ejs %>
</head>
<body data-spy="scroll">

<!--Background-img-->
<div class="bg-image" role="banner"></div>

<!--navigation bar-->

<body data-spy="scroll">
<header id="header" class="header scroll-header">
    <a href="#" id="jack-header"></a>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="#"><img src="/images/logo@3x.png" class="logo" style="padding-top: 10px"></a>
                    <!--logo-img-->
                </div>
                <div class="container" id="jack-space">
                    <div class="col-md-8 push-7">
                        <div class="navbar navbar-toggleable-md navbar-toggler" style="color: white; padding-top: 28px">
                            <ul class="navbar-nav">
                                <li class="nav-item nav-link">
                                    <a class="nav-item text-03" id="home-tag"
                                       onclick="selectNavButton('home-tag','jack-header')">Home</a>
                                </li>
                                <li class="nav-item nav-link">
                                    <a class="nav-item text-03" id="works-tag"
                                       onclick="selectNavButton('works-tag','jack-works')">Works</a>
                                </li>
                                <li class="nav-item nav-link">
                                    <a class="nav-item text-03" id="about-tag"
                                       onclick="selectNavButton('about-tag','jack-about')">About</a>
                                </li>
                                <li class="nav-item nav-link">
                                    <a class="nav-item text-03" id="skills-tag"
                                       onclick="selectNavButton('skills-tag','jack-skills')">Skills</a>
                                </li>
                                <li class="nav-item nav-link">
                                    <a class="nav-item text-03" id="contact-tag"
                                       onclick="selectNavButton('contact-tag','jack-footer')">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </nav>
</header>
<div class="slogan" align="center">
    <div class="container">
        <div class="slogan"><b>I<span style="color: #F8E71C">'</span>
                m Jack Huang<span style="color: #F8E71C">.</span></b></div>

        <div><!--<span class="line-01"><hr style="border: none"> </span>-->
            <div class="slogan2">UI/UX Designer, Website Developer</div>
        </div>
    </div>
    <i class="u-arrow u-arrow-down" style="margin-top: 12rem">
    </i>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>


<!--<header id="jack-header" class="header scroll-header header-main">
    <div class="container">
        <nav id="main-nav" class="main-nav big-main-nav navbar-left" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse">
                <ul class="nav navbar-nav big-navbar-nav">
                    <li class="active nav-item sr-only">
                        <a title="Building Hollywood" href="http://localhost/projects/build/#promo">
                            Home </a>
                    </li>


                    <li class="nav-item">
                        <a title="Post A New Job" href="http://localhost/projects/build/jobs-post">
                            Post A New Job </a>
                    </li>


                    <li class="nav-item">
                        <a title="Post Looking For A Job" href="http://localhost/projects/build/resume-post">
                            Post Looking For A Job </a>
                    </li>
                    <li class="nav-item big-pull-right ">
                        <a title="Messages" href="http://localhost/projects/build/contact">
                            Messages </a>
                    </li>
                    <li class="nav-item big-pull-right">
                        <a title="Sign Out" href="http://localhost/projects/build/signout">
                            Sign Out </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>-->


<!--                    <div class="row">
                        <nav class="navbar navbar-toggleable-md navbar-inverse">

                            <a href="#" class="navbar-brand" id="logo"></a>

                            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link text-03" id="home-tag"
                                           onclick="selectNavButton('home-tag','jack-header')">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-03" id="works-tag"
                                           onclick="selectNavButton('works-tag','jack-works')">Works</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-03" id="about-tag"
                                           onclick="selectNavButton('about-tag','jack-about')">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-03" id="skills-tag"
                                           onclick="selectNavButton('skills-tag','jack-skills')">Skills</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-03" id="contact-tag"
                                           onclick="selectNavButton('contact-tag','jack-footer')">Contact</a>
                                    </li>
                                </ul>
                            </div>

                        </nav>
                    </div>
                </div>
            </div>
        </div>-->


<!--<div class="two wide column">
    <div class="jack-nav">
        <div class="container" id="jack-space">
            <div class="row">
                <nav class="navbar navbar-toggleable-md navbar-inverse">
                    <a class="right item active" id="home-tag" onclick="selectNavButton('home-tag','jack-header')">
                        Home</a>
                    <a class="right item" id="works-tag" onclick="selectNavButton('works-tag','jack-works')">
                        Works</a>
                    <a class="right item" id="about-tag" onclick="selectNavButton('about-tag','jack-about')">
                        About</a>
                    <a class="right item" id="skills-tag" onclick="selectNavButton('skills-tag','jack-skills')">
                        Skills</a>
                    <a class="right item" id="contact-tag" onclick="selectNavButton('contact-tag','jack-footer')">
                        Contact</a>
                </nav>
            </div>
        </div>
    </div>
</div>-->


<!--works-->
<div id="jack-works">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6">
                <h1 class="title">Works</h1>
            </div>
            <div class="col-md-4 col-sm-6">
                <div id="jack-space" class="jack-menu">
                    <a class="right item active" id="website-tag" onclick="selectMenuButton('website-tag')">
                        Website</a>
                    <a class="right item" id="app-tag" onclick="selectMenuButton('app-tag')">
                        App</a>
                    <a class="right item" id="graphic-tag" onclick="selectMenuButton('graphic-tag')">
                        Graphic</a>
                    <a class="right item" id="photography-tag" onclick="selectMenuButton('photography-tag')">
                        Photography</a>
                    <a class="right item" id="arts-tag" onclick="selectMenuButton('arts-tag')">
                        Arts</a>
                </div>
            </div>
        </div>

        <!--works img-->
        <div class="padding-top-40">
            <div class="masthead-followup row m-0 border border-white row">
                <div class="row">
                    <div class="ui longer modal" id="img-detail-holder">
                        <div class="header">CAKNOW App</div>
                        <div class="image content">
                            <img class="image" id="img-detail" src="/images/long-img.jpg">
                        </div>
                    </div>
                    <!-- <div class="ui three column centered grid">
                         <div class="column works-img">
                             <img src="/images/pic03.jpg">
                         </div>
                         <div class="column works-img">
                             <img src="/images/pic03.jpg">
                         </div>
                         <div class="column works-img">
                             <img src="/images/pic03.jpg">
                         </div>
                     </div>-->
                </div>
                <div class="container-fluid ">
                    <div class="row col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
                        <div class="column work-img-holder img-hover"><img id="work-img-1" src="/images/pic01.jpg"
                                                                           onclick="selectWorkImage('work-img-1')"/>
                        </div>
                        <div class="column work-img-holder img-hover"><img id="work-img-2" src="/images/pic02.jpg"/>
                        </div>
                    </div>
                    <div class="row col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
                        <div class="column work-img-holder"><img id="work-img-3" src="/images/pic03.jpg"/></div>
                        <div class="column work-img-holder"><img id="work-img-4" src="/images/pic04.jpg"/></div>
                    </div>

                    <div class="row col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
                        <div class="column work-img-holder"><img id="work-img-5" src="/images/pic05.jpg"/></div>
                        <div class="column work-img-holder"><img id="work-img-6" src="/images/pic06.jpg"/></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div id="jack-works">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<h1 class="title pull-left">Works</h1>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-4 push-md-8">-->
<!--<a class="pull-right" id="website-tag" onclick="selectMenuButton('website-tag')">-->
<!--Website</a>-->
<!--<a class="pull-right" id="app-tag" onclick="selectMenuButton('app-tag')">-->
<!--App</a>-->
<!--<a class="pull-right" id="graphic-tag" onclick="selectMenuButton('graphic-tag')">-->
<!--Graphic</a>-->
<!--<a class="pull-right" id="photography-tag" onclick="selectMenuButton('photography-tag')">-->
<!--Photography</a>-->
<!--<a class="pull-right" id="arts-tag" onclick="selectMenuButton('arts-tag')">-->
<!--Arts</a>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="col-md-4">-->
<!--<div class="work-img-holder">-->
<!--&lt;!&ndash;<img src="/images/pic01.jpg"/>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<div class="work-img-holder">-->
<!--&lt;!&ndash;<img src="/images/pic02.jpg"/>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<div class="work-img-holder">-->
<!--&lt;!&ndash;<img src="/images/pic03.jpg"/>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-4">-->
<!--<div class="work-img-holder">-->
<!--&lt;!&ndash;<img src="/images/pic04.jpg"/>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<div class="work-img-holder">-->
<!--&lt;!&ndash;<img src="/images/pic05.jpg"/>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<div class="work-img-holder">-->
<!--&lt;!&ndash;<img src="/images/pic06.jpg"/>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--about-->
<div id="jack-about">
    <div class="container">
        <h1 class="title padding-top-100 text-center">About</h1>
    </div>
    <img id="about-img" src="/images/bg-about@2x.jpg"/>
    <div role="article">
        <div class="col-xl-8 push-xl-2 col-lg-8 push-lg-2 col-md-8 push-md-2 col-sm-10 push-sm-1">
            <p class="text-center subtitle-about"><b>I make technology not suck to use</b></p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-10 push-xl-1 col-lg-10 push-lg-1 col-md-10 push-md-1 col-sm-10 push-sm-1">
                    <br/>
                    <p class="text-01 text-center"> I am a senior UI/UX and product designer with over 7 year
                        experience, and I think design is commonly misunderstood as being purely visual. I
                        believe that design is not only how something looks, but how something works. So in the case of
                        UX design, I mean that I design how people interact with technology, and how technology
                        responds.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="slogan2" align="center" style="padding-top: 40px">
        <a href="/asset/Jack_resume.pdf" download="Jack_resume">
            <button class="download-butt">
                Download Resume
            </button>
        </a>
    </div>
</div>

<!--skills-->
<div id="jack-skills">
    <h1 class="title padding-top-180 text-center">Skills</h1>
    <div role="banner">
        <img id="skill-img" src="/images/skill_bg.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-4 col-sm-2 push-lg-3 push-md-2 push-sm-2">
                <div class="jk-skill">
                    <br/><br/><br/>
                    <div class="jk-skill-col">
                        <p>
                        <ul>
                            <li class="text-02">Sketch</li>
                            <br>
                            <li class="text-02">Adobe Xd</li>
                            <br>
                            <li class="text-02">Adobe Photoshop</li>
                            <br>
                            <li class="text-02">Adobe illustrator</li>
                            <br>
                            <li class="text-02">Adobe After Effect</li>
                            <br>
                        </ul>
                        </p>
                    </div>

                    <div class="jk-skill-col">
                        <p>
                        <ul>
                            <li class="text-02">Principle</li>
                            <br>
                            <li class="text-02">Zeplin</li>
                            <br>
                            <li class="text-02">HTML/CSS</li>
                            <br>
                            <li class="text-02">Bootstrap</li>
                            <br>
                            <li class="text-02">Swift</li>
                            <br>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>


<!--footer-->
<footer id="jack-footer">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <div class="col-12 push-2">
                    <div class="footer-img-holder">
                        <img src="/images/ruler@3x.png" id="footer-img">
                    </div>
                </div>
                <h1 class="title-01" style="padding-top: 20px">Contact</h1>
                <div class="container">
                    <div class="row">
                        <div style="padding-top: 20px">
                            <a href="https://www.linkedin.com/in/jack-huang-136a6097/" target="view_window">
                                <img class="icons" src="/images/linkedin@2x.png"></a>
                            <a href="https://www.behance.net/jackhuang" target="view_window">
                                <img class="icons" src="/images/behance@2x.png" style="margin-left: 16px"></a>
                            <a href="https://dribbble.com/Bestcat" target="view_window">
                                <img class="icons" src="/images/dribbble@2x.png" style="margin-left: 16px"></a>
                            <a href="https://www.facebook.com/profile.php?id=100009443163683" target="view_window">
                                <img class="icons" src="/images/facebook@2x.png" style="margin-left: 16px"></a>
                        </div>
                    </div>
                </div>


                <div class="text-03" style="margin-top: 30px">
                            <span>Email: <a href="mailto:laotuhao@gmail.com">
                                    <u class="text-03" style="cursor: pointer">
                                        laotuhao@gmail.com
                                    </u></a></span>
                    <span style="margin-left: 20px"> <a style="color: white" href="tel://(310)504-7390">Mobile: +1(310)504-7390</a></span>
                    <span style="margin-left: 20px"><a data-toggle="modal" data-target="#wechat-modal"
                                                       style="cursor: pointer">Wechat: tz103004176</a></span>

                    <% include modal/wechat-modal.ejs %>

                </div>

            </div>
        </div>
    </div>
</footer>

<% include heads/js.head.ejs %>

</body>
</html>
