<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include heads/css.head.ejs %>
</head>
<body data-spy="scroll">

<!--Background-img-->
<div class="bg-image" role="banner"></div>

<!--navigation bar-->

<% include homeComponents/header.ejs %>

<% include homeComponents/work.ejs %>

<% include homeComponents/about.ejs %>

<% include homeComponents/skill.ejs %>

<% include homeComponents/footer.ejs %>

<% include heads/js.head.ejs %>

</body>
</html>
