<div id="jack-about">
    <div class="container">
        <h1 class="title padding-top-100 text-center">About</h1>
    </div>
    <img id="about-img" src="/images/bg-about@2x.jpg"/>
    <div role="article">
        <div class="col-xl-8 push-xl-2 col-lg-8 push-lg-2 col-md-8 push-md-2 col-sm-10 push-sm-1">
            <p class="text-center subtitle-about"><b>I make technology not suck to use</b></p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-10 push-xl-1 col-lg-10 push-lg-1 col-md-10 push-md-1 col-sm-10 push-sm-1">
                    <br/>
                    <p class="text-01 text-center"> I am a senior UI&UX, product designer with over 7 year
                        experience, and I think design is commonly misunderstood as being purely visual. I
                        believe that design is not only how something looks, but how something works. So in the case of
                        UI&UX design, I mean that I design how people interact with technology, and how technology
                        responds.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="slogan2" align="center" style="padding-top: 40px">
        <a href="/asset/Jack_resume.pdf" download="Jack_resume">
            <button class="download-butt">
                Download Resume
            </button>
        </a>
    </div>
</div>