<footer id="jack-footer">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <div class="col-12 push-2">
                    <div class="footer-img-holder">
                        <img src="/images/ruler@3x.png" id="footer-img">
                    </div>
                </div>
                <h1 class="title-01" style="padding-top: 42px">Contact</h1>
                <div class="container">
                    <div class="row">
                        <div style="padding-top: 20px">
                            <a href="https://www.linkedin.com/in/jack-huang-136a6097/" target="view_window">
                                <img class="icons" src="/images/linkedin@2x.png"></a>
                            <a href="https://www.behance.net/jackhuang" target="view_window">
                                <img class="icons" src="/images/behance@2x.png" style="margin-left: 16px"></a>
                            <a href="https://dribbble.com/Bestcat" target="view_window">
                                <img class="icons" src="/images/dribbble@2x.png" style="margin-left: 16px"></a>
                            <a href="https://www.facebook.com/profile.php?id=100009443163683" target="view_window">
                                <img class="icons" src="/images/facebook@2x.png" style="margin-left: 16px"></a>
                        </div>
                    </div>
                </div>


                <div class="text-04" style="margin-top: 24px; margin-bottom: 10px">
                            <span>Email: <a href="mailto:laotuhao@gmail.com">
                                    <u class="text-04" style="cursor: pointer">
                                        laotuhao@gmail.com
                                    </u></a></span>
                    <span style="margin-left: 20px"> <a style="color: black" href="tel://(310)504-7390">Mobile: +1(310)504-7390</a></span>
                    <span style="margin-left: 20px"><a data-toggle="modal" data-target="#wechat-modal"
                                                       style="cursor: pointer">Wechat: tz103004176</a></span>

                    <% include ../modal/wechat-modal.ejs %>

                </div>

            </div>
        </div>
    </div>
</footer>