<div id="jack-skills">
    <h1 class="title padding-top-140 text-center">Skills</h1>
    <div role="banner" style="margin-bottom: 180px;margin-top: 80px">
        <img id="skill-img" src="/images/skill_bg.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-4 col-sm-2 push-lg-3 push-md-1 push-sm-1">
                <div class="jk-skill">
                    <div class="jk-skill-col" style="margin-bottom: 30px">
                        <p>
                        <ul>
                            <li class="text-02">Sketch</li>
                            <br>
                            <li class="text-02">Adobe Xd</li>
                            <br>
                            <li class="text-02">Adobe Photoshop</li>
                            <br>
                            <li class="text-02">Adobe illustrator</li>
                            <br>
                            <li class="text-02">Adobe After Effect</li>
                            <br>
                            <li class="text-02">InVision</li>
                        </ul>
                        </p>
                    </div>

                    <div class="jk-skill-col">
                        <p>
                        <ul>
                            <li class="text-02">Principle</li>
                            <br>
                            <li class="text-02">Zeplin</li>
                            <br>
                            <li class="text-02">HTML/CSS</li>
                            <br>
                            <li class="text-02">Bootstrap</li>
                            <br>
                            <li class="text-02">Swift</li>
                            <br>
                            <li class="text-02">Slack</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>