<div id="jack-works">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h1 class="title" style="padding-top: 30px">Works</h1>
            </div>
            <div class="col-md-8 col-sm-6">
                <div style="padding-top: 36px">
                    <div id="jack-space" class="navbar navbar-toggleable-md navbar-toggler jack-menu">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item work-menu-item"><a class="nav-link work-menu-link active" id="website"
                                                                   onclick="selectMenuButton('website')">
                                    Website</a></li>
                            <li class="nav-item work-menu-item"><a class="nav-link work-menu-link" id="app"
                                                                   onclick="selectMenuButton('app')">
                                    App</a></li>
                            <li class="nav-item work-menu-item"><a class="nav-link work-menu-link" id="graphic"
                                                                   onclick="selectMenuButton('graphic')">
                                    Graphic</a></li>
                            <li class="nav-item work-menu-item"><a class="nav-link work-menu-link" id="photography"
                                                                   onclick="selectMenuButton('photography')">
                                    Photography</a></li>
                            <li class="nav-item work-menu-item"><a class="nav-link work-menu-link" id="art"
                                                                   onclick="selectMenuButton('art')">
                                    Arts</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sample-themes">

            <% for (let i = 1; i < 7; i++){ %>
            <div class="col-md-4">
                <% let path = '/images/work-preview/website-0' + i + '.jpg'; %>
                <img src="<%= path %>" class="img-fluid" id="<%= 'work-img-' + i %>" data-toggle="modal"
                     data-target="#work-img-detail" style="margin-top: 30px" onclick="selectWorkDetailImage(<%=i%>)">
            </div>
            <% } %>

            <div class="modal fade bd-example-modal-lg" id="work-img-detail" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <img class="img-fluid" id="work-detail-img" src="/images/work-detail/website-01.jpg">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>