<div id="jack-works">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6">
                <h1 class="title">Works</h1>
            </div>
            <div class="col-md-4 col-sm-6">
                <div id="jack-space" class="navbar navbar-toggleable-md navbar-toggler jack-menu">
                    <a class="right item active" id="website-tag" onclick="selectMenuButton('website-tag')">
                        Website</a>
                    <a class="right item" id="app-tag" onclick="selectMenuButton('app-tag')">
                        App</a>
                    <a class="right item" id="graphic-tag" onclick="selectMenuButton('graphic-tag')">
                        Graphic</a>
                    <a class="right item" id="photography-tag" onclick="selectMenuButton('photography-tag')">
                        Photography</a>
                    <a class="right item" id="arts-tag" onclick="selectMenuButton('arts-tag')">
                        Arts</a>
                </div>
            </div>
        </div>

        <!--works img-->
        <div class="padding-top-40">
            <div class="masthead-followup row m-0 border border-white row">
                <div class="row">
                    <div class="ui longer modal" id="img-detail-holder">
                        <div class="header">CAKNOW App</div>
                        <div class="image content">
                            <img class="image" id="img-detail" src="/images/long-img.jpg">
                        </div>
                    </div>
                    <!-- <div class="ui three column centered grid">
                         <div class="column works-img">
                             <img src="/images/pic03.jpg">
                         </div>
                         <div class="column works-img">
                             <img src="/images/pic03.jpg">
                         </div>
                         <div class="column works-img">
                             <img src="/images/pic03.jpg">
                         </div>
                     </div>-->
                </div>
                <div class="container-fluid ">
                    <div class="row col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
                        <div class="column work-img-holder img-hover"><img id="work-img-1" src="/images/pic01.jpg"
                                                                           onclick="selectWorkImage('work-img-1')"/>
                        </div>
                        <div class="column work-img-holder img-hover"><img id="work-img-2" src="/images/pic02.jpg"/>
                        </div>
                    </div>
                    <div class="row col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
                        <div class="column work-img-holder"><img id="work-img-3" src="/images/pic03.jpg"/></div>
                        <div class="column work-img-holder"><img id="work-img-4" src="/images/pic04.jpg"/></div>
                    </div>

                    <div class="row col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
                        <div class="column work-img-holder"><img id="work-img-5" src="/images/pic05.jpg"/></div>
                        <div class="column work-img-holder"><img id="work-img-6" src="/images/pic06.jpg"/></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>