/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


a {
  color: #00B7FF;
}
*/

html, body {
    margin: 0;
    padding:0;
    width:100%;
    height: 100%;

}
#jack-works {
    position: relative;
    margin-top: 50px;
}

#jack-header {
    position: relative;
    min-height: 100%
}

#jack-space {
    border: none;
    /*    padding-left: 70px;*/
}

.jack-nav {
    font-size: 14px;
    color: #FFFFFF;
}

.nav-space {
    padding-top: 80px;
    padding-left: 600px;
}

.bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
    float: none;
    padding-top: 0px;
    padding-left: 0px;
    background-image: url('/images/top-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

#skill-img {
    width: 100%;
    height: auto;
    position: absolute;
    padding-top: 0px;
    padding-left: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

#about-img {
    width: 100%;
    height: auto;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    position: absolute;
    padding-top: 30px;
    width: 16%;
    height:auto;
}

.slogan {
    padding-top: 140px;
    font-size: 66pt;
    color: white;
}

.slogan2 {
    padding-top: 10px;
    font-size: 18pt;
    color: white;
    font-weight: 100;
!important;
}

.line-01 {
    position: absolute;
    width: 18%;
    top: 20px;
    background: #F8E71C;
    height: 10px;
    border: none;
}

.download-butt {
    background-color: white;
    border: solid 1px #5E17EB;
    color: #5E17EB;
    padding: 20px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.download-butt:hover {
    background-color: #5E17EB;
    color: white;
}

.jack-menu {
    padding-top: 20px;
}

.title {
    font-size: 42pt;
    font-weight: 700;
    color: black;
    /*background-color: #F8E71C;*/
    /* position: absolute;*/
}

.title-01 {
    font-size: 42pt;
    color: white;
}

.rectangle-01 {
    border-radius: inherit;
}

.padding-bottom-80 {
    padding-bottom: 80px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-top-60 {
    padding-top: 60px;
}

.padding-top-80 {
    padding-top: 80px;
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-top-160 {
    padding-top: 160px;
}

.padding-top-180 {
    padding-top: 180px;
}

.position {
    position: absolute;
}

.box-01 {
    width: 400px;
    height: 284px;
}

.work-img-1 {
    position: absolute;
}

.text-center {
    text-align: center;
}

.subtitle-about {
    text-align: center;
    font-size: x-large;
    color: #000000;
}

.text-01 {
    text-align: center;
    font-size: medium;
    color: #515151;
    line-height: 180%;
}

.text-02 {
    font-size: medium;
    color: #515151;
    font-weight: 100;
}

.text-03 {
    font-size: medium;
    color: #FFFFFF;
    font-weight: 100;
}

/*.jk-skill {
    margin: 0 auto;
    min-width: 520px;
}*/

.jk-skill-col {
    /* padding-top: 80px;*/
    padding-left: 60px;
    /* padding-bottom: 100px;*/
    width: 250px;
    display: inline-block;
}

.footer-img-holder {
    float: right;
    width: auto;
    height: auto;
  /*  margin-top: 246px;*/

}

#footer-img {
    /*padding-top: 30px;*/
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.work-img-holder {
    min-height: 250px;
    min-width: 150px;
    max-width: 400px;
    max-height: 284px;
    cursor: pointer;
}

.works-img {
    border: 0px;
    display: inline;
}

#jack-skills {
    position: static;
}

#jack-about {
    position: static;
}

#jack-footer {
    background-color: #5E17EB;
    width: auto;
    height: auto;
    position: static;
    /*padding-top: 100px;*/
    background-size: cover;
    z-index: 0;
}

.u-arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-top: 3px solid #F8E71C;
    border-right: 3px solid #F8E71C;
}

.icons {
    width: 5%;
    height: auto;
}

.u-arrow-down {
    transform: rotate(135deg);
}

.navbar {
    width: 100%;
    border: none;
    font-weight: 100 !important;
    font-style: normal !important;
}

@media (max-width: 50em) {
    background: black !important;
}

.navbar-toggler {
    cursor: pointer !important;
    outline: 0;
}

.nav-link {
    color: white;
    font-weight: 100;
}

.nav-link:hover {
    font-weight: 100;
    color: #F8E71C;
}

.nav-item {
    padding: 0 1rem;
}

@media (max-width: 34em) {
    padding: 0;
}



@media (max-width: 34em) {
    font-weight:normal;
    font-color:#fff !important;
}

}
}
}

.header {
    padding: 10px 0;
    background: #C5D9DE;
    background-color: #C5D9DE;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 8885;
    height: 66px;
}

.header.navbar-fixed-top {
    background: #fff !important;
    z-index: 8888;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.header.navbar-fixed-top  .fixed-top{
    background: #5E17EB !important;
    color: #000 !important;
    height: 98px;
    line-height: 98px;
    vertical-align: middle;
}

.header.navbar-fixed-top  .navbar-toggler{
    padding-top:25px;
}


.header .navbar-fixed-top .navbar  .text-03 {
    color:#000 !important;

}




.header.navbar-fixed-top .logo a {
    color: #0c303b;
}

.header.navbar-fixed-top .main-nav .nav .nav-item a {
    color: #666 !important;
}

.header .logo {
    margin: 0;
    font-size: 26px;
    padding-top: 1px;
}

.header .logo a {
    color: #fff;
}

.header .logo a:hover {
    text-decoration: none;
}

.header .main-nav button {
    background: #e3e3e3;
    color: #aaa;
!important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-color: #aaa;
}

.header .main-nav button:focus {
    outline: none;
}

.header .main-nav button .icon-bar {
    background-color: #aaa;
}

.header .main-nav .navbar-collapse, .header .main-nav .navbar-messeges-collapse {
    padding: 0;
}

.header .main-nav .nav .nav-item {
    font-weight: 400;
    margin-right: 30px;
    font-family: 'Roboto', sans-serif;
}

.header .main-nav .nav .nav-item.active a {
    color: #fff;
    background: none;
}

.header .main-nav .nav .nav-item a {
    color: #FFFFFF;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    font-size: 13px;
    padding: 15px 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header .main-nav .nav .nav-item a:hover {
    color: #FFFFFF;
    background: none;
}

.header .main-nav .nav .nav-item a:focus {
    outline: none;
    background: none;
}

.header .main-nav .nav .nav-item a:active {
    outline: none;
    background: none;
}

.header .main-nav .nav .nav-item.active {
    color: #FFFFFF;
}

.header .main-nav .nav .nav-item.last {
    margin-right: 0;
}

.header .main-nav {
    z-index: 8889;
}

@media (min-width: 768px) {
    .big-navbar-nav {
        width: 100% !important;
    }

    .big-pull-right {
        float: right !important;
    }

    .big-border {
        border: 1px solid #fff;
        margin-top: 8px;
    }

    .big-border a {
        padding: 6px !important;
    }

    .header .big-main-nav {
        width: 100% !important;
    }

}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    .header .main-nav button {
        margin-right: 0;
    }

    .header .main-nav .navbar-collapse, .header .main-nav .navbar-messeges-collapse {
        padding-left: 15px;
        padding-right: 15px;
        background-color: #ededed;
    }

    .header .logo-front-mobile {
        display: none;
    }

    #menu-toggle-mobile {
        display: inline;
        font-size: 16px;
        padding: 4px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .promo {

        color: #fff;
        padding-top: 112px;
        z-index: 1;
        padding-bottom: 0;
        background-size: cover;

    }

.navbar-nav1 {
    font-weight: 100;
    color: #FFFFFF;
}

