<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade bd-example-modal-sm" id="wechat-modal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color:#7bb32e;">Scan Now!</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 center-block">
                            <img src="/images/qr-code.jpg" class="img-responsive img-center"
                                 style="margin-left: auto; margin-right:auto; display:block;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>